@font-face {
	font-family: deter;
	src: url(determination.otf);
}

@font-face {
	font-family: lorem;
	src: url(MonsterFriendBack.otf);
}

textarea{
	width: 70%;
   display: block;
   margin-left: auto;
   margin-right: auto;
	font-family: deter;
	color: black;
	font-size: 15px;
	border-radius: 0px;
	border: 2px white dashed;
	resize: none;
}



body{
	background-color: black;
	text-align: center;
}

p{
	font-family: deter;
	color: white;
	font-size: 30px;
}

a{
	border: none;
	text-decoration: none;
	outline: none;
	background-color: transparent;
	font-family: deter;
	color: white;
	font-size: 30px;
}

#cc{
	width: 100%;
	text-align: center;
}

canvas{
	display: none;
	height: 100px;
}

h1{
	font-family: lorem;
	color: white;
	font-size: 50px;
}

h2{
	font-family: lorem;
	color: white;
	font-size: 30px;
}

#speciala{
	font-size: 15px;
	color: white;
	font-family: deter;
}

h3{
	font-family: deter;
	font-size: 15px;
	color: white;
}


a:hover {
	-webkit-animation:rainbow 3s infinite;
	-ms-animation:rainbow 3s infinite;
	-o-animation:rainbow 3s infinite;
	animation:rainbow 3s infinite;
}

@-webkit-keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
}
@-o-keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
}
@keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
}